
  <!-- ### $App Screen Footer ### -->
  <footer class="bdT ta-c p-30 fsz-sm c-grey-600">
    <span>
      &copy; Blarg Co. of America, Inc. 
      <a target="_blank" rel="noopener noreferrer" 
        href="https://github.com/ElVirtualJefe/PyIPAM">PyIPAM</a> - coded by <a target="_blank" rel="noopener noreferrer" href="https://appseed.us">ElVirtualJefe</a>. 
    </span>
    <br />
    <span>
      Built using 
      <a target="_blank" rel="noopener noreferrer" 
        href="https://github.com/app-generator/jinja2-adminator">Adminator Jinja2 Template</a> 
      by <a target="_blank" rel="noopener noreferrer" 
        href="https://appseed.us">AppSeed</a>.
    </span>
  </footer>
